body {
  background: #E4EEEE;
  font: 12px Verdana, Arial, Helvetica, sans-serif; }

/* -------- CAPAS -------- */

div#idioma {
  float: right;
  margin: 0 10px 0 0;
  text-align: right; }

div#menu {
  float: left;
  width: 200px;
  margin: 0; }

div#principal {
  /*height: 100%;*/
  width: auto;
  margin-left: 210px;
  padding: 10px; }

div#usuario {
  margin: 0 10px 5px 0;
  text-align: right; }

/* ----------------------- */

div#principal {
  background: #FFF;
  border: 2px solid #048; }

div#mensaje {
  margin: 10px 0;
  font-weight: bold; }

h1, h2 {
  color: #406464; }

h1 {
  font-size: 170%;
  text-align: center;
  margin: 0; }

h2 {
  /*width: 100%;    /* para que el borde ocupe todo el ancho */
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px groove;  /* borde del titulo del div principal */
  font-size: 120%; }

h3, h4 {
  /*width: 100%;*/
  color: #004;
  font-size: 110%;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 2px 0; } /* superior-inferior:0.15em  izquierda-derecha: 0 */

h3 {
  background: #BBCFCF; }

h4 {
  background: #E4EEEE; }

a, a:link, a:active, a:visited, a:hover {
  color: #B00;
  text-decoration: none; }

a:hover   {
  text-decoration: underline; }

a.disabled, a:link.disabled, a:active.disabled, a:visited.disabled, a:hover.disabled {
  color: #400;
  text-decoration: none; }

p {
  margin-top: 0;
  padding-left: 10px; }

/* -------- LISTAS POR DEFECTO -------- */
ul {
  margin: 5px 0;
  padding-left: 10px;
  list-style: none; }

ul li {
  margin-bottom: 8px; }

ul.continua {
  display: inline;
  margin: 0;
  padding: 0; }

ul.continua li {
  display: inline;
  margin-left: 10px; }

/* -------- LISTA DE PUBLICACIONES -------- */
ul.public li {
  margin-bottom: 1em; }

/* -------- TABLA FORMULARIO -------- */
.busqueda-fila {
  display: table-row; }

.busqueda-celda {
  display: table-cell;
  padding: 0.25em;
  /*width: 15em;*/ }

/* -------- EDITAR MIEMBRO -------- */
.celda_lateral {
  width: 200px;
  font-weight: bold;
}



/* -------- MENU -------- */
ul#menu {
  margin: 0;
  padding-left: 5px;
  font-size: 115%;
  font-weight: bold;
  list-style: none;
}

ul#menu li {
  margin-bottom: 2px;
}

/* -------- SUBMENU -------- */
ul#submenu, ul.linea {
  margin: 10px 0;
  padding: 0;
  list-style: none; }

ul#submenu li, ul.linea li {
  display: inline;
  margin-right: 5px; }

/* -------- FORMULARIO -------- */
form ul li {
  margin: 3px 0; }

form ul li label {
  display: inline-block;
  width: 150px; }

/* -------- TABLAS -------- */
.center {
  text-align: center; }

th {
  padding: 0 5px; }
