<!-- BEGIN: page -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>{PAGE.TITLE} | RF Group</title>

    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

    <!-- BEGIN: javascript -->
    <script type="text/javascript" src="javascript/jquery.js"></script>
    <script type="text/javascript" src="javascript/{PAGE.FILE}.js"></script>
    <!-- END: javascript -->
</head>

<body>

<div id="idioma">
    <!-- BEGIN: idioma -->
        <!-- BEGIN: siguiente --> / <!-- END: siguiente -->
    <a href="{LANG.URL}">{LANG.VALUE}</a>
    <!-- END:  idioma -->
</div>

<h1>
  <a href="{TITULOLINK.GRUPO}">{TITULONOMBRE.GRUPO}</a><br />
  <a href="{TITULOLINK.DEPARTAMENTO}">{TITULONOMBRE.DEPARTAMENTO}</a><br />
  <a href="{TITULOLINK.UNIVERSIDAD}">{TITULONOMBRE.UNIVERSIDAD}</a><br />
</h1>

<div id="usuario">
    <!-- BEGIN: miembro -->
    <a href="{MIEMBRO.URL}">{MIEMBRO.NOMBRE}</a>
    &nbsp;-&nbsp;
    <a href="{PAGE.URL}rol">Change role to {ROL.NAME}</a>
    &nbsp;-&nbsp;
    <a href="salir.php">Logout</a>
    <!-- END:  miembro -->
    
    <!-- BEGIN: acceder -->
    <a href="login.php">Sign in</a>
    <!-- END: acceder -->
</div>


<!-- Menu lateral -->
<div id="menu">
    <ul id="menu" style="margin-left: 0;">
        <li><a href="presentacion.php">Introduction</a></li>
        <li><a href="docencia.php">Teaching</a></li>
        <li><a href="ofertas.php">Offers</a></li>
        <li><a href="miembros.php">Members</a></li>
        <li><a href="publicaciones.php">Publications</a></li>
        <li><a href="lineas.php">Research Topics</a></li>
        <li><a href="proyectos.php">Projects</a></li>
        <li><a href="colaboradores.php">Collaborators</a></li>
        <li><a href="software.php">Software</a></li>
        <!-- BEGIN: administracion -->
        <li><a href="memoria_grupo.php">Group report</a></li>
        <li><a href="administracion.php">Administración</a></li>
        <!-- END: administracion -->
    </ul>
</div>

<!-- Pagina principal -->
<div id="principal">
  {PAGE.CONTENT}
</div>

</body>
</html>
<!-- END: page -->