<!-- BEGIN: content -->
<h2>Group Members</h2>

<!-- BEGIN: grupo -->
    <!-- BEGIN: nombre -->
    <h3>&nbsp;{GRUPO}</h3>
    <!-- END: nombre -->

    <!-- BEGIN: cab_noactivos -->
    <h4>&nbsp;No active</h4>
    <!-- END: cab_noactivos -->

    <ul>
        <!-- BEGIN: miembro -->
        <li>
            <a href="{MIEMBRO.URL}">{MIEMBRO.DATOS}</a>
        </li>
        <!-- END: miembro -->
    </ul>
<!-- END: grupo -->

<!-- BEGIN: anyadir -->
<form action="miembro_editar.php" method="get">
    <input type="hidden" name="idm" value="0" />
    <input type="submit" value="Add New Member" />
</form>
<!-- END: anyadir -->

<!-- END: content -->