<!-- BEGIN: content -->
<h2>Group presentation</h2>
<p>The Radio Frequency Group (GRF) is one of the research groups of the 
 the Department of Signal Theory
and Communications of the Universidad Carlos III de Madrid. GRF was formally
 created in 2005 although i was recognized by Universidad 
Carlos III de Madrid since 1997.
</p>

<p>GRF members have specialized knowledge and experience on different
areas related to high frequency technologies, including computational
electromagnetics, microwave engineering and antennas.  This knowledge
allows GRF to lead a number of international and national research
projects, and to provide  integral consulting solutions to the industry.</p>

<p>This Web site gives detailed information about GRF research lines, its Projects, publications
 of their members, and so on. You may contact GRF members either directly or through:</p>


<br />
<span style="font-weight: bold">Conctact data:</span><br />
Daniel Segovia Vargas<br />
Departamento de Teoría de la Señal y Comunicaciones,<br />
Universidad Carlos III de Madrid<br />
Escuela Politécnica Superior (Edificio Torres Quevedo)<br />
Avda. de la Universidad, 30<br />
28911 Leganés (Madrid), Spain.<br />
Tel: +34-91-6248737<br />
Fax: +34-91-6248749<br />
Email: dani@tsc.uc3m.es<br />
<!-- END: content -->