<!-- BEGIN: content -->
<h2>Project Information</h2>

<!-- BEGIN: menu -->
<ul id="submenu">
    <li><a href="proyecto_ver_ficha.php?idp={ID_PROYECTO}">[Ver Ficha]</a></li>
    <li><a href="proyecto_editar.php?idp={ID_PROYECTO}">[Editar Datos]</a></li>
    <li><a href="proyecto_editar_mie.php?idp={ID_PROYECTO}">[Miembros]</a></li>
    <li><a href="proyecto_editar_col.php?idp={ID_PROYECTO}">[Colaboradores]</a></li>
    <li><a href="proyecto_editar_sof.php?idp={ID_PROYECTO}">[Software]</a></li>
    <li><a href="proyecto_borrar.php?idp={ID_PROYECTO}">[Eliminar Proyecto]</a></li>
</ul>
<!-- END: menu -->

    <!-- BEGIN: datos_proyecto -->
    <h3>&nbsp;{DATOS.TITULO}</h3>
    <p>Reference Number: {DATOS.NUM_REFERENCIA}</p>
    <p>Status: {DATOS.ESTADO}</p>

    <p>Duration: Started on {DATOS.FECHA_INICIO}
         <!-- BEGIN: fecha_fin -->
         and Finish on {FECHA_FIN}
         <!-- END: fecha_fin -->
    </p>

        <!-- BEGIN: financiacion -->
        <p>
        Financing for this project is <strong>{FINANCIA}</strong>&nbsp;
        <!-- BEGIN: importe -->
        for an amount of {VALOR_FINANCIA} {VALOR_MONEDA}
        <!-- END: importe -->
        </p>
        <!-- END: financiacion -->

    <h3>&nbsp;Links</h3>
    <p><a href="{DATOS.HOMEPAGE}">Project Homepage</a></p>
    <p><a href="public_busqueda.php?{DATOS.DOCUMENTOS}">
    Documents/Publications associated with the project</a><p>

    <h3>&nbsp;Description</h3>
    <p>{DATOS.DESCRIPCION}</p>
    <!-- END: datos_proyecto -->

    <!-- BEGIN: miembros -->
    <h3>&nbsp;Project Members</h3>
    <ul class="sin">
        <!-- BEGIN: miembro -->
        <li><a href="miembro_ver_ficha.php?idm={MIEMBRO.ID_MIEMBRO}">
            {MIEMBRO.NOMBRE}</a> - {MIEMBRO.CATEGORIA}
            <!-- BEGIN: investigador_principal -->
            <strong>&nbsp;&nbsp;Principal Researcher</strong>
            <!-- END: investigador_principal -->
            <!-- BEGIN: responsable -->
            <strong>&nbsp;&nbsp;Proyect Responsable</strong>
            <!-- END: responsable -->
        </li>
        <!-- END: miembro -->
    </ul>
    <!-- END: miembros -->

    <!-- BEGIN: colaboradores -->
    <h3>&nbsp;Colaboradores del proyecto</h3>
    <ul class="sin">
        <!-- BEGIN: colaborador -->
        <li><a href="{COLABORADOR.LINK_COLABORADOR}">{COLABORADOR.NOMBRE}</a> -
        <a href="{COLABORADOR.LINK_GRUPO}">{COLABORADOR.NOMBRE_GRUPO}</a></li>
        <!-- END: colaborador -->
    </ul>
    <!-- END: colaboradores -->

    <!-- BEGIN: softwares -->
    <h3>&nbsp;Software del proyecto</h3>
    <ul class="sin">
        <!-- BEGIN: software -->
        <li><a href="software_ver_ficha.php?ids={SOFTWARE.ID_SOFTWARE}">
             {SOFTWARE.TITULO}</a> - {SOFTWARE.DESCRIP_CORTA}</li>
        <!-- END: software -->
    </ul>
    <!-- END: softwares -->

<!-- END: content -->