<!-- BEGIN: main -->
<html>
<head>
<title>Biblioteca de GECA</title>
<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<table class="principal">
<tr>
 <th ><H2> Informaci&oacute;n de biblioteca  </H2></th>
</tr>
<tr><td>T&uacute; eres un miembro de la Intrageca. Si quieres ver tus datos,
<a href="http://ls1f.uah.es/WEBGECA/intrageca/miembro_editar.php?idm={MIEMBRO.IDM}">, sigue &eacute;ste enlace </a>
</tr></td>
</table>
</body>
</html>
<!-- END: main -->
