<!-- BEGIN: content -->
<h2>Informaci&oacute;n de L&iacute;na de Investigaci&oacute;n</h2>
    <!-- BEGIN: datos_proyecto -->
    <h3>&nbsp;{LISTA.TITULO}</h3>

        <!-- BEGIN: datos_financia -->
        <p>Este proyecto est&aacute; finaciado por <span style="font-weight: bold">{FINANCIA}</span> <br>
        con un importe de {VALOR_FINANCIA} {VALOR_MONEDA}.</p>
        <!-- END: datos_financia -->

    <h3>&nbsp;Enlaces</h3>
    <p><a href="{LISTA.HOMEPAGE}">P&aacute;gina principal del proyecto</a></p>
    <p><a href="public_busqueda.php?{LISTA.DOCUMENTOS}">Documentos/Publicaciones asociados al proyecto</a><p>

    <h3>&nbsp;Descripci&oacute;n</h3>
    <p>{LISTA.DESCRIPCION}</p>
    <!-- END: datos_proyecto -->

    <!-- BEGIN: lista_miembros -->
    <h3>&nbsp;Miembros de la l&iacute;na de investiagaci&oacute;n</h3>
    <ul class="sin">
        <!-- BEGIN: fila -->
        <li><a href="miembro_ver_ficha.php?idm={LISTAM.IDM}">{LISTAM.NOMBRE}</a> - {LISTAM.CATEGORIA}
            <!-- BEGIN: responsable -->
            <span style="font-weight: bold">&nbsp;&nbsp;Responsable de proyecto</span>
            <!-- END: responsable -->
        </li>
        <!-- END: fila -->
    </ul>
    <!-- END: lista_miembros -->

    <!-- BEGIN: lista_colaboradores -->
    <h3>&nbsp;Colaboradores del proyecto</h3>
    <ul class="sin">
        <!-- BEGIN: fila -->
        <li><a href="{LISTAC.L_NOMBRE}">{LISTAC.NOMBRE}</a> -
        <a href="{LISTAC.L_GRUPO}">{LISTAC.GRUPO}</a></li>
        <!-- END: fila -->
    </ul>
    <!-- END: lista_colaboradores -->

    <!-- BEGIN: lista_software -->
    <h3>&nbsp;Software del proyecto</h3>
    <ul class="sin">
        <!-- BEGIN: fila -->
        <li><a href="software_ver_ficha.php?ids={LISTAS.IDS}">
             {LISTAS.TITULO}</a> - {LISTAS.DESC_CORTA}</li>
        <!-- END: fila -->
    </ul>
    <!-- END: lista_software -->

<p>Sin finalizar la implementacion</p>
<!-- END: content -->