<!-- BEGIN: content -->
<h2>Presentaci&oacute;n del Grupo</h2>
<p>El Grupo de Radiofrecuencia (GRF) es un grupo de investigación
adscrito al Departamento de Teoría de la Señal y Comunicaciones de la
Universidad Carlos III de Madrid. El GRF formalmente se creó en en el
año 2005 aunque está reconocido por la Universidad Carlos III de
Madrid desde el año 1997.</p>

<!-- 
El GRF está formado por investigadores, en su mayoría doctores
Ingenieros de Telecomunicación.
-->

<p>El GRF se caracteriza por contar con conocimientos y experiencia
específicos en diversas disciplinas relacionadas con las tecnologías
de alta frecuencia incluyendo electromagnetismo computacional,
ingeniería de microondas, y antenas. Ello le permite liderar numerosos
proyectos de investigación nacionales e internacionales, así como
proporcionar una solución integral de consultoría 
a las empresas más importantes del sector.</p>

<!--
El GRF desarrolla investigación puntera en tecnología de
radiofrecuencia, aportando soluciones de ingeniería electromagnética a
través de numerosos proyectos internacionales y nacionales, así como
aportando soluciones, prototipos y labores de consultoría con las
empresas nacionales más importantes del sector.
-->

<p>En esta Web podrá encontrar información sobre las líneas de
investigación del Grupo, los Proyectos de investigación, las
publicaciones de sus miembros, etc. Puede contactar directamente con
los miembros del Grupo que considere oportunos, o formalmente en:</p>
<br />

<p>
<strong>Información de contacto:</strong><br />
Daniel Segovia Vargas<br />
Prof. Titular de Universidad<br />
Departamento de Teoría de la Señal y Comunicaciones<br />
Universidad Carlos III de Madrid<br />
Escuela Politécnica Superior (Edificio Torres Quevedo)<br />
Avda. de la Universidad, 30<br />
28911 Leganés (Madrid), Spain.<br />
Tel: +34 91 624 87 37<br />
Fax: +34 91 624 87 49<br />
Correo electrónico: dani@tsc.uc3m.es<br />
</p>


<!-- END: content -->