<!-- BEGIN: content -->
<h2>Informaci&oacute;n de proyecto</h2>

<!-- BEGIN: menu -->
<ul id="submenu">
    <li><a href="proyecto_ver_ficha.php?idp={ID_PROYECTO}">[Ver Ficha]</a></li>
    <li><a href="proyecto_editar.php?idp={ID_PROYECTO}">[Editar Datos]</a></li>
    <li><a href="proyecto_editar_mie.php?idp={ID_PROYECTO}">[Miembros]</a></li>
    <li><a href="proyecto_editar_col.php?idp={ID_PROYECTO}">[Colaboradores]</a></li>
    <li><a href="proyecto_editar_sof.php?idp={ID_PROYECTO}">[Software]</a></li>
    <li><a href="proyecto_borrar.php?idp={ID_PROYECTO}">[Eliminar Proyecto]</a></li>
</ul>
<!-- END: menu -->

<h3>Software del proyecto</h3>
<form action="proyecto_editar_sof.php" name="editar" method=POST>
<input type=hidden name="idp" value="{IDP}">
<table width="100%">
   <tr>
     <td class="cabecera1" colspan=3>Software del proyecto</td>
   <tr>
   <tr>
     <td align=center width="30"><b>Borrar</b></td>
     <td><b>Titulo</b></td>
   </tr>
    <!-- BEGIN: fila_software -->
    <tr>
      <td align=center width="30">
        <input type=checkbox name="id_soft_b_{LISTA.INDICE}" value=1  onClick="this.form.modificado.checked=true">
      </td>
      <input type=hidden name="id_soft_i_{LISTA.INDICE}" value="{LISTA.IDENTIFICADOR}">
      <td width="220">{LISTA.TITULO}</td>
      <td width="300"></td>
    </tr>
    <!-- END: fila_software -->
    <input type=hidden name="numero_paquetes" value={NUM_PAQUETES}>
    <tr>
      <td>&nbsp;</td>
      <td><b>A&ntilde;adir nuevo software:</b></td>
      <td><select name="nuevo_software"  onClick="this.form.modificado.checked=true">
           <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
           <!-- BEGIN: selec_software -->
           <option value="{LISTA.IDS}">{LISTA.TITULO}</option>
           <!-- END: selec_software -->
          </select>
      </td>
    </tr>
   <tr>
    <td colspan=3 align=center><br>
    <b>Formulario Modificado:</b>
    <input type=checkbox onClick="this.form.modificado.checked=true" name="modificado" value=1>
    &nbsp;&nbsp; 
     <button type=submit>Actualizar</button>
    </td>
   </tr>  
</table>
</form>

<!-- END: content -->