<!-- BEGIN: content -->
<h2>Información de proyecto</h2>

<!-- BEGIN: menu -->
<ul id="submenu">
    <li><a href="proyecto_ver_ficha.php?idp={ID_PROYECTO}">[Ver Ficha]</a></li>
    <li><a href="proyecto_editar.php?idp={ID_PROYECTO}">[Editar Datos]</a></li>
    <li><a href="proyecto_editar_mie.php?idp={ID_PROYECTO}">[Miembros]</a></li>
    <li><a href="proyecto_editar_col.php?idp={ID_PROYECTO}">[Colaboradores]</a></li>
    <li><a href="proyecto_editar_sof.php?idp={ID_PROYECTO}">[Software]</a></li>
    <li><a href="proyecto_borrar.php?idp={ID_PROYECTO}">[Eliminar Proyecto]</a></li>
</ul>
<!-- END: menu -->

<h3>Colaboradores del proyecto</h3>

<form action="proyecto_editar_col.php" name="editar" method=POST>
<input type=hidden name="idp" value="{IDP}">
<table width="100%">
   <tr>
     <td align=center width="30"><b>Borrar</b></td>
     <td><b>Nombre</b></td>
     <td><b>Grupo Colaborador</b></td>
   </tr>
    <!-- BEGIN: fila_colaborador -->
    <tr>
      <td align=center width="30">
        <input type=checkbox name="id_proy_b_{LISTA.INDICE}" value=1  onClick="this.form.modificado.checked=true">
      </td>
      <input type=hidden name="id_proy_i_{LISTA.INDICE}" value="{LISTA.IDENTIFICADOR}">
      <td width="220">{LISTA.NOMBRE}</td>
      <td width="300">{LISTA.GRUPO_COL}</td>
    </tr>
    <!-- END: fila_colaborador -->
    <input type=hidden name="numero_col" value={NUM_COL}>
    <tr>
      <td>&nbsp;</td>
      <td><b>A&ntilde;adir nuevo colaborador:</b></td>
      <td><select name="nuevo_col"  onClick="this.form.modificado.checked=true">
           <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
           <!-- BEGIN: selec_col -->
           <option value="{LISTA.IDC}">{LISTA.NOMBRE}</option>
           <!-- END: selec_col -->
          </select>
      </td>
    </tr>
   <tr>
    <td colspan=3 align=center><br>
    <b>Formulario Modificado:</b>
    <input type=checkbox onClick="this.form.modificado.checked=true" name="modificado" value=1>
    &nbsp;&nbsp; 
     <button type=submit>Actualizar</button>
    </td>
   </tr>  
</table>
</form>
<b>{MENSAJE_ACTUALIZACION}</b>
<!-- END: form_proyecto -->

<!-- END: content -->