<!-- BEGIN: main -->
<html>
<head>
<title>Grupo GECA: Importar Fichero Bibtex</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<table>
<tr>
 <th colspan=2> <H2> Grupo de Electromagnetismo Computacional Avanzado (G.E.C.A.) </H2></th>
</tr>
<tr valign="top">
<!-- Menu lateral -->
<td align="left" class="menu">
<h4>INTRANET</h4>
<ul type=disc>
 <li><a href="miembros.php">Miembros</a></li>
 <li><a href="publicaciones.php">Publicaciones</a></li>
 <li><a href="proyectos.php">Proyectos</a></li>
 <li><a href="colaboradores.php">Colaboradores</a></li>
 <li><a href="software.php">Software</a></li>
</ul>
</td>
<!-- Pagina principal -->
<td class="principal">
<a href="publicaciones.php">[Buscador]</a> &nbsp;
<a href="public_editar.php">[A&ntilde;adir Publicaci&oacute;n]</a> &nbsp;
<a href="public_importar.php">[Importaci&oacute;n]</a> &nbsp;
<a href="public_borrar_bib.php">[Borrar Bibliograf&iacute;as]</a> &nbsp;
<a href="public_cadenas.php">[Sin&oacute;nimos]</a> &nbsp;
<hr>
<form action="public_importar.php" enctype="multipart/form-data" name="importar" method=POST>
<h3>Importar fichero bibtex</h3>    
<hr> 
<table>
   <tr>
     <td><b>Fichero a Importar:</b></td>
     <td><input type=file name="fichero_bibtex"></td> 
   </tr>
   <tr>
     <td align=center colspan=2><button type=submit>Importar</button></td>
   </tr>
</table>
<br><br>
<h3>Importar texto bibtex</h3>    
<hr> 
<table>
   <tr>
     <td><textarea cols=60 rows=10 name="texto_bib"></textarea></td>
   </tr>
   <tr>
     <td align=center><button type=submit>Importar</button></td>
   </tr>
</table>
</form>
<!-- BEGIN: log -->
<h3>Resultados de Importaci&oacute;n</h3>
<hr>
<b>
{NUM_ACTUALIZADOS} registros actualizados<br>
{NUM_INSERTADOS} registros insertados<br>
{NUM_ERROR} errores encontrados <br>
{NUM_AVISOS} problemas menores encontrados <br>
</b> 
<ul type=disc>
  <!-- BEGIN: fila_log -->
  <li>{ENTRADA}</li>
  <!-- END: fila_log -->
</ul>
<!-- END: log -->
<br>
</td>
</tr>
</body>
</html>
<!-- END: main -->