<!-- BEGIN: main -->
<html>
<head>
<title>Grupo GECA: Eliminar Referencias  Bibtex</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<table>
<tr>
 <th colspan=2> <H2> Grupo de Electromagnetismo Computacional Avanzado (G.E.C.A.) </H2></th>
</tr>
<tr valign="top">
<!-- Menu lateral -->
<td align="left" class="menu">
<h4>INTRANET</h4>
<ul type=disc>
 <li><a href="miembros.php">Miembros</a></li>
 <li><a href="publicaciones.php">Publicaciones</a></li>
 <li><a href="proyectos.php">Proyectos</a></li>
 <li><a href="colaboradores.php">Colaboradores</a></li>
 <li><a href="software.php">Software</a></li>
</ul>
</td>
<!-- Pagina principal -->
<td class="principal">
<a href="publicaciones.php">[Buscador]</a> &nbsp;
<a href="public_editar.php">[A&ntilde;adir Publicaci&oacute;n]</a> &nbsp;
<a href="public_importar.php">[Importaci&oacute;n]</a> &nbsp;
<a href="public_borrar_bib.php">[Borrar Bibliograf&iacute;as]</a> &nbsp;
<a href="public_cadenas.php">[Sin&oacute;nimos]</a> &nbsp;
<hr>
<h3>Eliminar Referencias Bibtex</h3>    
<hr> 
<br>
<table>
   <tr>
     <td>
     Esta función borra todas las referencias bibliográficas de la base de 
     datos y sus tablas asociadas. Por seguridad, se almacenará un fichero 
     de backup en el web antes del borrado.
     </td> 
   </tr>
   <tr>
     <td align="center">
       <br>
       <form action="public_borrar_bib.php" method=GET>
        <input type="hidden" name="borrar" value=1>
         <button type=submit>Borrar referencias</button>
       </form>
     </td>
   </tr>
</table>
<br><br>
</td>
</tr>
</body>
</html>
<!-- END: main -->