<!-- BEGIN: content -->
<h3>Eliminar Referencias Bibtex</h3>

<!-- Pagina principal -->
<td class="principal">
<a href="publicaciones.php">[Buscador]</a> &nbsp;
<a href="public_editar.php">[A&ntilde;adir Publicaci&oacute;n]</a> &nbsp;
<a href="public_importar.php">[Importaci&oacute;n]</a> &nbsp;
<a href="public_borrar_bib.php">[Borrar Bibliograf&iacute;as]</a> &nbsp;
<a href="public_cadenas.php">[Sin&oacute;nimos]</a> &nbsp;

<table>
   <tr>
     <td>
     Esta función borra todas las referencias bibliográficas de la base de 
     datos y sus tablas asociadas. Por seguridad, se almacenará un fichero 
     de backup en el web antes del borrado.
     </td> 
   </tr>
   <tr>
     <td align="center">
       <br>
       <form action="public_borrar_bib.php" method=GET>
        <input type="hidden" name="borrar" value=1>
         <button type=submit>Borrar referencias</button>
       </form>
     </td>
   </tr>
</table>

<!-- END: content -->