<!-- BEGIN: content -->
<h2>Importar fichero bibtex</h2>

<!-- Pagina principal -->
<td class="principal">
<a href="publicaciones.php">[Buscador]</a> &nbsp;
<a href="public_editar.php">[A&ntilde;adir Publicaci&oacute;n]</a> &nbsp;
<a href="public_importar.php">[Importaci&oacute;n]</a> &nbsp;
<a href="public_cadenas.php">[Sin&oacute;nimos]</a> &nbsp;
<a href="public_borrar_bib.php">[Borrar Bibliograf&iacute;as]</a>

<form action="public_importar.php" enctype="multipart/form-data" name="importar" method=POST>
<table>
   <tr>
     <td><b>Fichero a Importar:</b></td>
     <td><input type=file name="fichero_bibtex"></td> 
   </tr>
   <tr>
     <td align=center colspan=2><button type=submit>Importar</button></td>
   </tr>
</table>

<h3>Importar texto bibtex</h3>
<table>
   <tr>
     <td><textarea cols=60 rows=10 name="texto_bib"></textarea></td>
   </tr>
   <tr>
     <td align=center><button type=submit>Importar</button></td>
   </tr>
</table>
</form>
<!-- BEGIN: log -->
<h3>Resultados de Importaci&oacute;n</h3>
<hr>
<b>
{NUM_ACTUALIZADOS} registros actualizados<br>
{NUM_INSERTADOS} registros insertados<br>
{NUM_ERROR} errores encontrados <br>
{NUM_AVISOS} problemas menores encontrados <br>
</b> 
<ul type=disc>
  <!-- BEGIN: fila_log -->
  <li>{ENTRADA}</li>
  <!-- END: fila_log -->
</ul>
<!-- END: log -->

<!-- END: content -->