<!-- BEGIN: content -->
<h2>Lista de Software del grupo</h2>

<!-- BEGIN: tabla_software -->
<table width="100%">
   <!-- BEGIN: cab_desactiva -->
   <tr>
     <td colspan=3 class="cabecera2">No publicados</td>
   </tr>
   <tr><td></td></tr>
   <!-- END: cab_desactiva -->

   <!-- BEGIN: fila -->
   <tr>
     <td>&nbsp</td>
     <td><a href="software_ver_ficha.php?ids={LISTA1.IDS}">
         <b>{LISTA1.TITULO}</a></b>&nbsp;:&nbsp;{LISTA1.DESC_CORTA}
     </td>
     <td align=right width=20><form action="software_editar.php" method=GET>
       <input type=hidden name=ids value={LISTA1.IDS}>
       <BUTTON type="submit">Editar</BUTTON></form>
     </td>
   </tr>
   <!-- END: fila --> 
</table>

<!-- END: tabla_software -->
<table>
   <tr>
    <td>
     <br>
     <form action="software_editar.php" method=GET>
      <input type="hidden" name="ids" value=0>
      <BUTTON type=submit>Añadir Nuevo Software</BUTTON>
     </form>
    </td>
   </tr> 
</table>

<!-- END: main -->